<!doctype html>
<html>
  <head>
    <title>{{mask}}{{Turbo | Web Proxies}}</title>
    {{ifSEO}}{{
    <meta
      name="description"
      content="Turbo is a secure web proxy service with support for many sites. Bypass filters and freely enjoy a safer private browsing experience or unblock websites on devices such as Chromebooks and at places like school or work without downloading anything."
    />
    }}
    <!--HEAD-CONTENT-->
    <script src="https://unpkg.com/tsparticles@3.8.1/tsparticles.bundle.min.js" defer data-module></script>
    {{inline}}{{
    <script src="{{route}}{{assets/js/csel.js}}{{inline}}" defer></script>
    <script src="{{route}}{{assets/js/common.js}}{{inline}}" defer></script>
    }}
  </head>

  <body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <!--ANTI-EXFIL-->
    <div id="header" class="fullwidth">
      <!--HEADER-->
    </div>
    <div id="background" class="fullwidth"></div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="mainbody" class="fullwidth">
      <div class="box-main-container surf-compact">
        <div class="box-text-container">
          <h1>
            {{mask}}{{ Turbo sets the standard for fast, secure,
            and highly advanced web proxy services. }}
          </h1>
          <h2 class="box-description">
            {{mask}}{{ Experience rapid and reliable proxy performance with Holy
            Unblocker LTS. Our robust feature set includes CAPTCHA integration,
            customizable blacklist settings, leak prevention mechanisms, and
            advanced security measures. }}
          </h2>
          <h3>
            {{mask}}{{ Select a proxy service below to get started! }}
          </h3>
          <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
          <div class="box-button-container">
            <a
              href="{{route}}{{/scramjet}}"
              class="box-button"
              >{{mask}}{{Scramjet (LATEST)}}</a
            >
            <a
              href="{{route}}{{/ultraviolet}}"
              class="box-button"
              >{{mask}}{{Ultraviolet}}</a
            >
            <a
              href="{{route}}{{/rammerhead}}"
              class="box-button"
              >{{mask}}{{Rammerhead}}</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div id="footer" class="fullwidth">
      <!--FOOTER-->
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
  </body>
</html>
